.bussinessServices{
    width: 100%;
    height: 1500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap:5px;
}
.top_bussinessServices{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.top_bussinessServices h2{
    width: 20%;
}
.bottom_bussinessServices{
    width: 65%;
    height: 1300px;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.box{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.box_left{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.box_left p{
    width: 70%;
}
.box_right{
    width: 50%;
    height: 100%;
    background-color: rgb(217, 222, 227);
    background-size:cover ;
}
#right{
    width: 100%;
    display: flex;
    justify-content: center;
}

.clients{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    background-color: white;
}
.clients p {
    width: 40%;
    text-align: center;
}

footer{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17191b;
}
.inside_footer{
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top_footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.info_footer{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.info_footer h3{
    margin-bottom: 7px;
}
.socials i{
    padding-right: 5px;
    font-size: 20px;
}



@media screen and (min-width:320px) and (max-width:767px) {
    .service{
        width: 100%;
        height: 300px;
        color: white;
        font-size:22px;
    }

    .bussinessServices{
        width: 100%;
        height: 2500px;
        margin-top: 30px;
        gap:10px;
    }
    .top_bussinessServices{
        width: 100%;
        height: 100px;
        flex-direction: column;
        gap: 20px;
    }
    .top_bussinessServices h2{
        width: 95%;
    }
    .bottom_bussinessServices{
        width: 95%;
        height: 2300px;
        display: flex;
        justify-content:space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    #right{
        width: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .box{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
    }
    .box_left{
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    .box_left p{
        width: 90%;
    }
    .box_right{
        width: 100%;
        height: 100%;
        background-color: rgb(217, 222, 227);
        background-size:cover ;
    }


    .clients{
        gap: 5px;
    }
    .clients p {
        width: 90%;
        text-align: center;
    }


    footer{
        width: 100%;
        height: 650px;
    }
    .inside_footer{
        width: 95%;
        height: 300px;
    }
    .top_footer{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .info_footer{
        width: 95%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        color: white;
    }
    .info_footer h3{
        margin-bottom: 7px;
    }
    .socials i{
        padding-right: 5px;
        font-size: 20px;
    }
 
}