*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 90px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    margin-top: 25px;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
#features{
    width: 100%;
    padding: 70px;
    background-color: #000;
}

.futeri{
    width: 100%;
    height:445px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.nalt1{
    width: 100%;
    height:345px;
    background-color: #05203c;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:row;
}
.pjesa10{
    margin-block: auto;
    width: 30.5%;
    height:200px;
    border-right: 1px solid #fff;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.brenda1{
   width: 60%;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items:flex-start;
   flex-direction: column;
   margin-right: 30px;
   gap: 20px;
}
.brenda1 img{
    width: 130px;
  
}
.brenda1 p{
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    line-height: 21px;
}

.pjesa20{
    margin-block: auto;
    width: 19.5%;
    height:200px;
    border-right: 1px solid #fff;
    display: flex;
    justify-content:center;
    align-items:center;
}
.brenda2{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    gap: 18px;
}
.brenda2 p{
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    line-height: 7px;
    transition: 0.4s;
    cursor: pointer;
}
.brenda2 p:hover{
    color: #ff214f;
}
.brenda2 h4{
    margin-top: -18px;
    margin-bottom:4px;
    margin-left: -4px;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

.pjesa30{
    margin-block: auto;
    width: 19.5%;
    height:200px;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.brenda3{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    gap: 14px;
}
.brenda3 h4{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
.brenda3 p{
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
    line-height: 22px;
}
.brenda3 p span:hover{
color:#ff214f;
}
.brenda3 p span{
transition:0.5s;
cursor: pointer;
}

.pjesa40{
    margin-block: auto;
    width: 30.5%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.brenda4{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}
.teksti-part4{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
}
.teksti-part4 h4{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

.nalttt{
    width: 75%;
    height: 85px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: row;
}
.nalttt img{
    width: 85%;
    position: relative;
}
.top-img1 img{
    width: 75%;
}
.top-img2 img{
    width: 75%;
}
.top-img3 img{
    width: 75%;
}

.posht{
    width: 75%;
    height: 85px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
}
.posht img{
    width: 85%;
    position: relative;
}
.bottom-img4 img{
    width: 75%;
}
.bottom-img5 img{
    width: 75%;
}
.bottom-img6 img{
    width: 75%;
}

.top-img1:hover .imghover1{
    visibility: visible;
}
.top-img2:hover .imghover2{
    visibility: visible;
}
.top-img3:hover .imghover3{
    visibility: visible;
}
.bottom-img4:hover .imghover4{
    visibility: visible;
}
.bottom-img5:hover .imghover5{
    visibility: visible;
}
.bottom-img6:hover .imghover6{
    visibility: visible;
}

.imghover1{
    position:absolute;
    width: 61px;
    height: 26px;
    background-color: #141414ce;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;
    z-index: 2;
}
.imghover2{
    position:absolute;
    width: 61px;
    height: 26px;
    background-color: #141414ce;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;
    z-index: 2;
}
.imghover3{
    position:absolute;
    width: 61px;
    height: 29px;
    background-color: #141414ce;
    margin-top: -33px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;
    z-index: 2;
}
.imghover4{
    position:absolute;
    width: 61px;
    height: 29px;
    background-color: #141414ce;
    margin-top: -33px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 2;
}
.imghover5{
    position:absolute;
    width: 61px;
    height: 29px;
    background-color: #141414ce;
    margin-top:-33px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 2;
}
.imghover6{
    position:absolute;
    width: 61px;
    height: 29px;
    background-color: #141414ce;
    margin-top:-33px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;
    z-index: 2;
}
.topimage i{
    color: white;
} 
.bottomimage i{
    color: white;
}


.bottom-footer{
    width: 100%;
    height:100px;
    background-color: #031427;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.bottom-footer h4{
    display: flex;
    color: #686868;
    gap: 100px;
    margin-top: 50px;
}
.ikona{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    margin-right: 20px;
    margin-top: 40px;
}
.ikona i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 8px;
}


.ikonatt {
    color: white;
}



.pjesa44{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 80px;
}
.likes{
    width: 17%;
    height:190px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content:center;
    align-items: center;
}
.mrenalikes{
    width: 96.2%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
    transition: 0.06s;
}
.mrenalikes img{
    width: 45px;
    color:#acacac;
    background-color: #ffffff;
}
.mrenalikes p{
    text-align: center;
    color: #6f6f6f;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.desktop{
    width: 17%;
    height:190px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content:center;
    align-items: center;
}
.mrenadesktop{
    width: 96.2%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.06s;
}
.mrenadesktop img{
    margin-top: -20px;
    width: 90px;
    color:#acacac;
    background-color: #ffffff;
}
.mrenadesktop p{
    text-align: center;
    color: #6f6f6f;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.camera{
    width: 17%;
    height:190px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content:center;
    align-items: center;
}
.mrenacamera{
    width: 96.2%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.06s;
}
.mrenacamera img{
    margin-top: -10px;
    width: 90px;
    color:#acacac;
    background-color: #ffffff;
}
.mrenacamera p{
    text-align: center;
    color: #6f6f6f;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.chat{
    width: 17%;
    height:190px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content:center;
    align-items: center;
}
.mrenachat{
    width: 96.2%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.06s;
}
.mrenachat img{
    margin-top: -20px;
    width: 135px;
    color:#acacac;
    background-color: #ffffff;
}
.mrenachat p{
    text-align: center;
    color: #6f6f6f;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.mrenalikes:hover{
    border:5px solid rgb(3, 24, 92);
}
.mrenadesktop:hover{
    border:5px solid rgb(3, 24, 92);
}
.mrenacamera:hover{
    border:5px solid rgb(3, 24, 92);
}
.mrenachat:hover{
    border:5px solid rgb(3, 24, 92);
}



@media screen and (max-width:844px){
#menuBtn{
    right: 200px;
    top: 18px;
 }
 }